pkgbase = fuzzy-pacman
	pkgdesc = Fuzzy pacman wrapper using skim (sk). Provides interactive package and system management via subcommands.
	pkgver = 1.0.0
	pkgrel = 1
	url = https://github.com/brunos3d/fuzzy-pacman
	arch = any
	license = MIT
	depends = pacman
	depends = skim
	source = fpm
	source = fpm.1
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = fuzzy-pacman
